.btn {
  width: 200px;
  height: 50px;
  margin: auto;
  padding: 8px;
  background: rgb(0, 128, 128);
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: white;
  color: teal;
  border: 1px solid teal;
}
