.container {
  padding: 0 1rem;
}

.small {
  display: flex;
}

.cards {
  display: flex;
  overflow: scroll;
}
@media screen and (max-width: 600px) {
  .small {
    display: grid;
    grid-template-columns: 1fr;
  }
}
