.small {
  display: flex;
  padding: 9px;
}

.title {
  padding: 16px 16px 0;
}
.cards {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}
@media screen and (max-width: 600px) {
  .small {
    display: grid;
    grid-template-columns: 1fr;
  }
}
