.container {
  margin: 2em;
}

.form {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid black;
  margin: 1em;
  max-width: 900px;
}

.inputbox {
  padding: 5px;
  margin: 5px;
}

.btncontainer {
  text-align: center;
}
.button {
  margin-top: 0.5rem;
  padding: 1em;
  background: teal;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background: white;
  color: teal;
  border: 1px solid teal;
}
