.cardcontainer {
  margin: auto;
  padding: 1em;
}
.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 400px;
  max-width: 350px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.seller {
  font-size: 0.8rem;
  color: teal;
}

.image {
  object-fit: cover;
  max-height: 200px;
  transition: all 5s cubic-bezier(0.14, 0.96, 0.91, 0.6);
}

.button {
  width: 100%;
  padding: 1em;
  background: teal;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  max-width: 350px;
}

.button:hover {
  background: white;
  color: teal;
  border: 1px solid teal;
}
