.container {
  padding: 0 1rem;
}

.newproduct {
  display: flex;
}

.button {
  width: 30%;
  margin: 1em;
  background: teal;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background: white;
  color: teal;
  border: 1px solid teal;
}

.infobox {
  border: 1px solid rgb(191, 191, 191);
  margin: 2em;
  border-radius: 5px;
}

.info {
  padding: 2em;
}
