.signin {
  display: block;
  width: 100%;
  max-width: 40rem;
  border: 1px solid black;
  margin: 4rem auto 6rem;
}

.wrap {
  padding: 0 10px;
}

.title {
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.socialSignin {
  margin: 3rem auto;
  text-align: center;
}
